* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@400;700&display=swap');

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url(assetspp/imgswdpp/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-repeat: none;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Poppins', sans-serif;

    height: calc(100% - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(51, 51, 51);
    height: 8px;
}

.btn {
    background-color: rgba(21, 21, 21, 0.418);
    font-weight: bolder;
    padding: 3px 8px;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    color: white;
    font-size: 12px;
    padding: 9px 34px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70vw;
    margin: auto;
    padding: 34px 0px;
}




.secIMG {
    position: relative;
}

.secIMG img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secIMG video {
    position: absolute;
   
    top: 82px;
    right: 69px;
    width: 414px;

    /* top: 68px;
    right: 46px;
    width: 430px; */

    /* top: 28px;
    right: 80px;
    width: 400px; */
}

section.first>div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.first>div :nth-child(1) {
    font-size: 48px;

}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.third video {
    position: absolute;
    top: 33px;
    right: 111px;
    width: 333px;

    /* top: 24px;
    right: 111px;
    width: 344px; */
}

.faq {
    color: white;
    background: black;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    font-size: 24px;
    background-color: #2d2d2d;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    padding: 24px;
    margin: 24px auto;
    cursor: pointer;
}

footer {
    color: white;
    width: 60vw;
    margin: auto;
    padding: 14px;
}

.question {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secIMG img {
        width: 300px;

    }

    .secIMG video {
        width: 183px;
        top: 15px;
        right: 64px;
    }

    .first-video video {
        width: 222px;
        top: 45px;
        right: 42px;

    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 34px;
        
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
    }

    .faq h2{
        font-size: 32px;
    }
    
    footer {
        width: 90vw;
    }
    .footer-item{
        align-items: center;
    }

        

}